Repository lensapp/lens, pull requests merged in 2020-10, with the labels that each got.

#1006 Fix cluster dashboard opening and state refreshing
  src/common/cluster-ipc.ts
  src/main/cluster.ts
  src/renderer/bootstrap.tsx
  src/renderer/components/+cluster/cluster.tsx
  src/renderer/components/app.tsx
Labels: bug

#989 cleanup Draggable into ResizingAnchor
  src/renderer/components/dock/dock.scss
  src/renderer/components/dock/dock.store.ts
  src/renderer/components/dock/dock.tsx
  src/renderer/components/dock/terminal.ts
  src/renderer/components/draggable/draggable.scss
  src/renderer/components/draggable/draggable.tsx
  src/renderer/components/draggable/index.ts
  src/renderer/components/resizing-anchor/index.ts
  src/renderer/components/resizing-anchor/resizing-anchor.scss
  src/renderer/components/resizing-anchor/resizing-anchor.tsx
  yarn.lock
Labels: area/ui, chore

#1014 Adding space after drawer badges only
  src/renderer/components/badge/badge.tsx
  src/renderer/components/drawer/drawer-item.scss
Labels: area/ui, bug

#1016 Fix: check for location bevore navigate
  src/renderer/navigation.ts
Labels: area/ui, bug

#808 Refactor testing harness to use defaults
  integration/__tests__/app.tests.ts
  integration/helpers/utils.ts
  locales/en/messages.po
  locales/fi/messages.po
  locales/ru/messages.po
  package.json
  src/common/__tests__/cluster-store.test.ts
  src/common/__tests__/user-store.test.ts
  src/common/__tests__/workspace-store.test.ts
  src/common/utils/__tests__/splitArray.test.ts
  src/renderer/api/__tests__/kube-api-parse.test.ts
  src/renderer/components/+cluster-settings/components/cluster-name-setting.tsx
  src/renderer/components/+cluster-settings/components/cluster-proxy-setting.tsx
  src/renderer/components/+config-resource-quotas/add-quota-dialog.tsx
  src/renderer/components/+config-secrets/add-secret-dialog.tsx
  src/renderer/components/+namespaces/add-namespace-dialog.tsx
  src/renderer/components/+preferences/kubectl-binaries.tsx
  src/renderer/components/+user-management-service-accounts/create-service-account-dialog.tsx
  src/renderer/components/+workloads-cronjobs/cronjob-trigger-dialog.tsx
  src/renderer/components/+workspaces/workspaces.tsx
  src/renderer/components/input/__tests__/input_validators.test.ts
  src/renderer/components/input/input.tsx
  src/renderer/components/input/input_validators.ts
  src/renderer/utils/__tests__/formatDuration.test.ts
  src/renderer/utils/__tests__/metricUnitsToNumber.test.ts
Labels: chore

#1018 Allow extensions to have external dependencies
  extensions/example-extension/.gitignore
  extensions/example-extension/README.md
  extensions/example-extension/index.tsx
  extensions/example-extension/package-lock.json
  extensions/example-extension/package.json
  extensions/example-extension/tsconfig.json
  package.json
  src/common/cluster-ipc.ts
  src/extensions/extension-loader.ts
  src/extensions/extension-manager.ts
  src/extensions/extension-store.ts
  src/extensions/lens-extension.ts
  src/main/index.ts
  src/main/menu.ts
  src/renderer/bootstrap.tsx
  src/renderer/components/+extensions/extensions.route.ts
  src/renderer/components/+extensions/extensions.scss
  src/renderer/components/+extensions/extensions.tsx
  src/renderer/components/+extensions/index.ts
  src/renderer/components/cluster-manager/cluster-manager.tsx
  yarn.lock
Labels: area/extension, enhancement

#1029 TabLayout should not be part of LensRuntimeRendererEnv
  extensions/example-extension/index.tsx
  src/extensions/extension-api.ts
  src/extensions/lens-runtime.ts
  src/extensions/register-page.tsx
  src/renderer/components/app.tsx
  src/renderer/components/layout/sidebar.tsx
  src/renderer/components/layout/tab-layout.tsx
Labels: bug

#1009 add resizing capabilities to the side bar
  src/renderer/components/layout/main-layout.scss
  src/renderer/components/layout/main-layout.tsx
Labels: area/ui, enhancement

#1033 Add 3.6.6 release notes
  package.json
  static/RELEASE_NOTES.md
Labels: chore

#1042 Fix cluster dashboard opening when cluster is initally offline
  src/main/cluster.ts
  src/renderer/components/cluster-manager/cluster-view.tsx
Labels: bug

#1032 Support extensions in main process
  .gitignore
  extensions/example-extension/index.tsx
  extensions/example-extension/main.ts
  extensions/example-extension/package.json
  extensions/example-extension/page.tsx
  extensions/example-extension/renderer.ts
  extensions/example-extension/tsconfig.json
  package.json
  src/common/vars.ts
  src/extensions/dynamic-page.tsx
  src/extensions/extension-api.ts
  src/extensions/extension-loader.ts
  src/extensions/extension-manager.ts
  src/extensions/extension-renderer-api.ts
  src/extensions/lens-extension.ts
  src/extensions/lens-main-extension.ts
  src/extensions/lens-renderer-extension.ts
  src/extensions/lens-renderer-runtime.ts
  src/extensions/lens-runtime.ts
  src/extensions/page-store.ts
  src/extensions/rollup.config.ts
  src/main/index.ts
  src/main/window-manager.ts
  src/renderer/bootstrap.tsx
  src/renderer/components/app.tsx
  src/renderer/components/cluster-manager/cluster-manager.tsx
  src/renderer/components/cluster-manager/clusters-menu.tsx
  src/renderer/components/layout/sidebar.tsx
  src/renderer/lens-app.tsx
  webpack.extensions.ts
  webpack.renderer.ts
Labels: area/extension, enhancement

#1055 Improve how extension-api is exposed/loaded
  extensions/example-extension/.gitignore
  extensions/example-extension/package-lock.json
  extensions/example-extension/package.json
  extensions/example-extension/page.tsx
  extensions/example-extension/tsconfig.json
  extensions/example-extension/webpack.config.js
  package.json
  src/common/vars.ts
  src/extensions/extension-loader.ts
  src/extensions/extension-renderer-api.ts
  src/extensions/lens-renderer-extension.ts
  src/main/index.ts
  src/renderer/bootstrap.tsx
  webpack.extensions.ts
  webpack.main.ts
  webpack.renderer.ts
  yarn.lock
Labels: area/extension, enhancement

#1050 Add some basic unit tests for the following files:
  integration/__tests__/app.tests.ts
  integration/helpers/utils.ts
  package.json
  src/main/__test__/cluster.test.ts
  src/main/__test__/kube-auth-proxy.test.ts
  src/main/__test__/kubeconfig-manager.test.ts
  src/main/cluster.ts
  src/main/kubeconfig-manager.ts
  yarn.lock
Labels: area/tests, chore

#1043 Moving Pod logs into Dock panel
  src/renderer/api/endpoints/pods.api.ts
  src/renderer/components/+workloads-pods/pod-logs-dialog.scss
  src/renderer/components/+workloads-pods/pod-logs-dialog.tsx
  src/renderer/components/+workloads-pods/pod-menu.tsx
  src/renderer/components/app.tsx
  src/renderer/components/dock/dock.store.ts
  src/renderer/components/dock/dock.tsx
  src/renderer/components/dock/info-panel.tsx
  src/renderer/components/dock/pod-logs.scss
  src/renderer/components/dock/pod-logs.store.ts
  src/renderer/components/dock/pod-logs.tsx
  src/renderer/themes/kontena-dark.json
  src/renderer/themes/kontena-light.json
  src/renderer/themes/theme-vars.scss
Labels: enhancement

#1073 Align NamespaceSelect and SearchField with each other
  src/renderer/components/input/search-input.scss
  src/renderer/components/item-object-list/item-list-layout.scss
Labels: enhancement

#1063 Start authentication proxy when opening cluster settings
  src/common/cluster-ipc.ts
  src/main/cluster.ts
  src/renderer/components/+cluster-settings/cluster-settings.tsx
  src/renderer/components/cluster-manager/cluster-status.tsx
Labels: bug

#1013 Added additional checks on the command used in the Exec plugin in a kubeconfig
  package.json
  src/common/custom-errors.ts
  src/common/kube-helpers.ts
  src/renderer/components/+add-cluster/add-cluster.tsx
  types/command-exists.d.ts
  yarn.lock
Labels: enhancement

#1082 Fix integration test teardown
  integration/helpers/utils.ts
Labels: area/tests, bug

#1049 Updated regex for isUrl to allow for an empty string
  src/renderer/components/input/input_validators.ts
Labels: area/ui, bug

#981 Fix bundled kubectl path on dev env
  src/main/kube-auth-proxy.ts
  src/main/kubectl.ts
  src/main/kubectl_spec.ts
  src/main/routes/port-forward-route.ts
  src/main/shell-session.ts
  src/renderer/components/+preferences/kubectl-binaries.tsx
Labels: bug

#1081 move autobind and debouncePromise to common/utils
  src/common/utils/autobind.ts
  src/common/utils/debouncePromise.ts
  src/common/utils/index.ts
  src/renderer/api/api-manager.ts
  src/renderer/components/dock/terminal.ts
  src/renderer/theme.store.ts
  src/renderer/utils/debouncePromise.ts
  src/renderer/utils/index.ts
Labels: chore

#1086 extract internationalizations
  locales/en/messages.po
  locales/fi/messages.po
  locales/ru/messages.po
Labels: area/ui, chore

#1075 Sort Pod environment values in alphabetical order
  src/renderer/components/+workloads-pods/pod-container-env.tsx
Labels: area/ui, enhancement

#1090 Fetch available Helm repositories from Artifact HUB cache
  src/main/helm/helm-repo-manager.ts
Labels: bug

#1041 Added Last Status information for Container
  src/renderer/api/endpoints/pods.api.ts
  src/renderer/components/+workloads-pods/pod-details-container.tsx
Labels: enhancement

#1064 Add LoadBalancer information to the Ingress view
  src/renderer/api/endpoints/ingress.api.ts
  src/renderer/components/+network-ingresses/ingresses.tsx
Labels: enhancement

#1088 fix cluster page integration test
  integration/__tests__/app.tests.ts
Labels: area/tests, enhancement

#1093 Build extensions automatically before app
  Makefile
  extensions/example-extension/Makefile
  extensions/telemetry/Makefile
Labels: area/extension, chore

#1092 Move tracker to telemetry extension
  .eslintrc.js
  extensions/telemetry/main.ts
  extensions/telemetry/package-lock.json
  extensions/telemetry/package.json
  extensions/telemetry/renderer.tsx
  extensions/telemetry/src/telemetry-preferences-store.ts
  extensions/telemetry/src/tracker.ts
  package.json
  src/common/__tests__/event-bus.test.ts
  src/common/cluster-ipc.ts
  src/common/cluster-store.ts
  src/common/event-bus.ts
  src/common/event-emitter.ts
  src/common/tracker.ts
  src/common/user-store.ts
  src/extensions/extension-api.ts
  src/extensions/extension-renderer-api.ts
  src/main/index.ts
  src/main/node-shell-session.ts
  src/main/resource-applier.ts
  src/main/shell-session.ts
  src/main/window-manager.ts
  src/renderer/api/json-api.ts
  src/renderer/api/websocket-api.ts
  src/renderer/components/app.tsx
  src/renderer/utils/index.ts
  yarn.lock
Labels: area/extension, enhancement

#1030 WIP: Adding support page
  src/renderer/components/+support/index.tsx
  src/renderer/components/+support/support.route.ts
  src/renderer/components/+support/support.scss
  src/renderer/components/+support/support.tsx
  src/renderer/components/cluster-manager/bottom-bar.scss
  src/renderer/components/cluster-manager/bottom-bar.tsx
  src/renderer/components/cluster-manager/cluster-manager.tsx
  src/renderer/components/icon/support.svg
Labels: in progress

#1101 Restructure extension apis
  extensions/example-extension/page.tsx
  extensions/example-extension/renderer.ts
  extensions/telemetry/src/telemetry-preference.tsx
  extensions/telemetry/src/telemetry-preferences-store.ts
  src/extensions/extension-api.ts
  src/extensions/extension-renderer-api.ts
  src/extensions/lens-renderer-extension.ts
  src/extensions/main-api/event-bus.ts
  src/extensions/main-api/stores.ts
  src/extensions/main-api/utils.ts
  src/extensions/renderer-api/components.ts
  src/extensions/renderer-api/k8s-api.ts
  src/extensions/renderer-api/registries.ts
  src/renderer/api/endpoints/index.ts
Labels: area/extension, enhancement

#1103 Extension npm packaging preparations
  extensions/example-extension/main.ts
  extensions/example-extension/page.tsx
  extensions/example-extension/renderer.ts
  extensions/example-extension/tsconfig.json
  extensions/example-extension/webpack.config.js
  extensions/telemetry/main.ts
  extensions/telemetry/package-lock.json
  extensions/telemetry/package.json
  extensions/telemetry/renderer.tsx
  extensions/telemetry/src/telemetry-preference.tsx
  extensions/telemetry/src/telemetry-preferences-store.ts
  extensions/telemetry/src/tracker.ts
  extensions/telemetry/tsconfig.json
  extensions/telemetry/webpack.config.js
  src/extensions/npm/main-extensions/.gitignore
  src/extensions/npm/main-extensions/package.json
  src/extensions/npm/renderer-extensions/.gitignore
  src/extensions/npm/renderer-extensions/package.json
  src/extensions/rollup.config.ts
  src/main/index.ts
  src/renderer/bootstrap.tsx
Labels: area/extension, enhancement

#1107 Extension store base class + rename main/renderer-extensions -> extensions
  extensions/example-extension/main.ts
  extensions/example-extension/page.tsx
  extensions/example-extension/renderer.tsx
  extensions/example-extension/webpack.config.js
  extensions/telemetry/main.ts
  extensions/telemetry/renderer.tsx
  extensions/telemetry/src/telemetry-preference.tsx
  extensions/telemetry/src/telemetry-preferences-store.ts
  extensions/telemetry/src/tracker.ts
  extensions/telemetry/webpack.config.js
  src/common/base-store.ts
  src/extensions/core-api/event-bus.ts
  src/extensions/core-api/registries.ts
  src/extensions/core-api/stores.ts
  src/extensions/core-api/utils.ts
  src/extensions/core-extension-api.ts
  src/extensions/extension-api.ts
  src/extensions/extension-renderer-api.ts
  src/extensions/extension-store.ts
  src/extensions/lens-renderer-runtime.ts
  src/extensions/main-api/stores.ts
  src/extensions/npm/extensions/.gitignore
  src/extensions/npm/extensions/package.json
  src/extensions/npm/main-extensions/package.json
  src/extensions/npm/renderer-extensions/.gitignore
  src/extensions/renderer-api/navigation.ts
  src/extensions/renderer-api/registries.ts
  src/extensions/renderer-extension-api.ts
  src/extensions/rollup.config.ts
  src/main/index.ts
  src/renderer/bootstrap.tsx
Labels: area/extension, bug, enhancement

#1106 Implement cluster metadata detectors
  src/common/base-store.ts
  src/common/cluster-ipc.ts
  src/common/cluster-store.ts
  src/main/__test__/cluster.test.ts
  src/main/cluster-detectors/base-cluster-detector.ts
  src/main/cluster-detectors/cluster-id-detector.ts
  src/main/cluster-detectors/detector-registry.ts
  src/main/cluster-detectors/distribution-detector.ts
  src/main/cluster-detectors/last-seen-detector.ts
  src/main/cluster-detectors/nodes-count-detector.ts
  src/main/cluster-detectors/version-detector.ts
  src/main/cluster.ts
  src/renderer/components/+cluster-settings/cluster-settings.tsx
  src/renderer/components/+cluster-settings/status.tsx
Labels: enhancement

#1116 Test is user cluster admin on cluster activate
  src/main/__test__/cluster.test.ts
  src/main/cluster.ts
Labels: bug

#1140 FIX: Duplicate "support" items in menu
  src/extensions/core-extension-api.ts
  src/main/menu.ts
Labels: area/extension, bug

#1144 Refactor PageRegistration to separate registries
  extensions/example-extension/renderer.tsx
  extensions/support-page/renderer.tsx
  src/extensions/extension-loader.ts
  src/extensions/lens-renderer-extension.ts
  src/extensions/registries/page-registry.ts
  src/renderer/components/app.tsx
  src/renderer/components/cluster-manager/cluster-manager.tsx
  src/renderer/components/cluster-manager/clusters-menu.tsx
  src/renderer/components/layout/sidebar.tsx
Labels: area/extension

#1143 Allowing any item for StatusBarRegistration
  extensions/support-page/renderer.tsx
  src/extensions/extension-loader.ts
  src/extensions/lens-main-extension.ts
  src/extensions/lens-renderer-extension.ts
  src/extensions/registries/status-bar-registry.ts
  src/renderer/components/cluster-manager/bottom-bar.scss
  src/renderer/components/cluster-manager/bottom-bar.tsx
Labels: area/extension

#1113 Add more telemetry data
  extensions/telemetry/src/tracker.ts
  src/common/vars.ts
  src/common/workspace-store.ts
  src/extensions/core-api/app.ts
  src/extensions/core-api/index.ts
  src/extensions/core-api/stores.ts
Labels: area/extension, enhancement

#1150 Npm package publish preparations
  Makefile
  build/set_npm_version.ts
  extensions/example-extension/package-lock.json
  extensions/example-extension/package.json
  extensions/example-extension/tsconfig.json
  extensions/metrics-cluster-feature/package-lock.json
  extensions/metrics-cluster-feature/package.json
  extensions/metrics-cluster-feature/tsconfig.json
  extensions/node-menu/package-lock.json
  extensions/node-menu/package.json
  extensions/node-menu/tsconfig.json
  extensions/pod-menu/package-lock.json
  extensions/pod-menu/package.json
  extensions/pod-menu/tsconfig.json
  extensions/support-page/package-lock.json
  extensions/support-page/package.json
  extensions/support-page/tsconfig.json
  extensions/telemetry/package-lock.json
  extensions/telemetry/package.json
  extensions/telemetry/tsconfig.json
  package.json
  src/extensions/npm/extensions/package.json
Labels: area/extension

#1147 Load extensions also from local folder
  src/extensions/extension-manager.ts
Labels: area/extension, enhancement

#1158 Publish extension npm package via pipeline on release
  .azure-pipelines.yml
  Makefile
Labels: area/extension, chore

#1148 Get rid of this.disposers while registering stuff in extensions
  extensions/example-extension/renderer.tsx
  extensions/metrics-cluster-feature/renderer.tsx
  extensions/node-menu/renderer.tsx
  extensions/node-menu/src/node-menu.tsx
  extensions/pod-menu/renderer.tsx
  extensions/pod-menu/src/logs-menu.tsx
  extensions/pod-menu/src/shell-menu.tsx
  extensions/support-page/main.ts
  extensions/support-page/renderer.tsx
  extensions/telemetry/renderer.tsx
  src/extensions/extension-loader.ts
  src/extensions/lens-extension.ts
  src/extensions/lens-main-extension.ts
  src/extensions/lens-renderer-extension.ts
  src/extensions/registries/menu-registry.ts
Labels: area/extension

#1157 Add extensions/api.d.ts to .eslintignore
  .eslintrc.js
Labels: chore

#1163 Fix bundled extension install on Linux/AppImage
  src/extensions/extension-manager.ts
Labels: area/extension, area/linux, bug

#1165 Bind 'this' for setInterval callback
  extensions/telemetry/src/tracker.ts
Labels: area/extension, bug

#1167 Fix npm package missing types
  src/extensions/npm/extensions/package.json
Labels: area/extension, bug

#1171 Optimize ExtensionManager#load
  src/extensions/extension-manager.ts
Labels: area/extension, enhancement

#1172 Fix regression caused by #1171
  src/extensions/extension-manager.ts
Labels: area/extension, bug

#1176 Improve how extensions can manage cluster/workspace stores
  src/common/__tests__/cluster-store.test.ts
  src/common/__tests__/workspace-store.test.ts
  src/common/cluster-store.ts
  src/common/workspace-store.ts
  src/extensions/core-api/stores.ts
  src/main/cluster-manager.ts
  src/main/cluster.ts
  src/main/tray.ts
  src/renderer/bootstrap.tsx
  src/renderer/components/+add-cluster/add-cluster.tsx
  src/renderer/components/+cluster-settings/components/cluster-workspace-setting.tsx
  src/renderer/components/+cluster-settings/components/remove-cluster-button.tsx
  src/renderer/components/+workspaces/workspace-menu.tsx
  src/renderer/components/+workspaces/workspaces.tsx
  src/renderer/components/cluster-manager/clusters-menu.tsx
Labels: area/extension, enhancement

#1173 Using external styles for extensions
  extensions/support-page/package-lock.json
  extensions/support-page/package.json
  extensions/support-page/src/support.scss
  extensions/support-page/src/support.tsx
  extensions/support-page/webpack.config.ts
Labels: area/extension

#1182 Status bar visual fixes
  extensions/support-page/renderer.tsx
  src/renderer/components/animate/animate.tsx
  src/renderer/components/cluster-manager/bottom-bar.scss
  src/renderer/components/cluster-manager/bottom-bar.tsx
  src/renderer/components/icon/icon.scss
  src/renderer/components/icon/icon.tsx
Labels: area/ui, enhancement

#1185 Expose kubeObjectDetailRegistry via extension-api
  src/extensions/registries/index.ts
  src/extensions/registries/kube-object-detail-registry.ts
  src/renderer/api/kube-object-detail-registry.ts
Labels: area/extension, enhancement

#1180 Telemetry improvements
  extensions/telemetry/main.ts
  extensions/telemetry/package-lock.json
  extensions/telemetry/package.json
  extensions/telemetry/src/tracker.ts
  src/main/cluster-detectors/distribution-detector.ts
  src/main/cluster-detectors/nodes-count-detector.ts
Labels: area/extension, enhancement

#1186 Expose KubeObjectListLayout to extensions
  src/extensions/renderer-api/components.ts
Labels: area/extension, enhancement

#1187 Add missing kubeObjectDetailItems observable to LensRendererExtension
  src/extensions/extension-loader.ts
  src/extensions/lens-renderer-extension.ts
Labels: area/extension, bug
